/* This is the root node of the entire React tree. */
#app {
    font-family: 'Noto Sans', sans-serif;
    height: 100vh;
    font-size: 16px;
}

/* These elements do not implicitly inherit fonts. */
button, input, select {
    text-align: inherit;
    font-family: inherit;
    font-size: inherit;
}

/* A single div wraps the entire app so we can set the lang. */
#app > div {
    height: 100%;

    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: stretch;
}

/* This should always float above the current page. */
#menu {
    order: 1;
    flex: 0 0 auto;

    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;

    padding: 5px;

    background-color: #7CF;
    border-width: 0 0 2px 0;
    border-style: none none solid none;
    border-color: #000;
}

.link {
    padding: 5px;
}

.link.current {
    color: #FFF;
}

/* This wraps every page. */
main  {
    order: 2;
    flex: 1 1 auto;

    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: stretch;

    overflow-y: auto;
}

main > * {
    flex: 1 1 auto;
}

#quiz {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;

    text-align: center;
    max-width: 500px;
    font-size: 1.5em;
}

#quiz > .question {
    padding: 5px;
}

#recent {
    display: flex;
    flex-flow: column;
    align-items: center;
}

#streak {
    padding: 5px;
}

#streak .value {
    padding: 5px;
    font-size: 1.5em;
    vertical-align: text-bottom;
}

.result {
    color: #C00;
    text-align: left;
    padding: 5px;
}

.result.correct {
    color: #0A0;
}

.result .question::before {
    content: '✘ ';
}

.result.correct .question::before {
    content: '✔ ';
}

.result .question::after {
    content: ' → ';
}

.result .expected::before {
    content: ' (';
}

.result .expected::after {
    content: ')';
}

.result.correct .expected {
    display: none;
}

.sortable::before {
    content: '↕ ';
}

.selected::before {
    content: '↓ ';
}

.reversed::before {
    content: '↑ ';
}

#dictionary table {
    margin: auto;
}

#dictionary td,
#dictionary th {
    padding: 2px 5px 2px 5px;
}

#dictionary th {
    background-color: #000;
    color: #FFF;
    white-space: nowrap;
}

/* Score */
#dictionary td:nth-child(3) {
    text-align: center;
}

#dictionary tr:nth-child(odd) {
    background-color: #FFF;
}

#dictionary tr:nth-child(even) {
    background-color: #DDD;
}
