body, button, input {
    font-family: 'Noto Sans', sans-serif;
    font-size: 20px;
}

.sortable::before {
    content: '↕ ';
}

.selected::before {
    content: '↓ ';
}

.reversed::before {
    content: '↑ ';
}

.dictionary {
    margin: auto;
}

.dictionary td,
.dictionary th {
    padding: 2px 5px 2px 5px;
}

.dictionary th {
    background-color: #000000;
    color: #FFFFFF;
}

.dictionary td:nth-child(3) {
    text-align: center;
}

.dictionary tr:nth-child(odd) {
    background-color: #FFFFFF;
}

.dictionary tr:nth-child(even) {
    background-color: #DDDDDD;
}

.quiz {
    display: flex;
    flex-direction: column;
    margin: auto;
    max-width: 500px;
}

.quiz .question {
    order: 1;
    text-align: center;
    margin: auto;
}

.quiz .answer {
    order: 2;
    text-align: center;
    margin: auto;
    border: 1px solid #777777;
}

.quiz .submit {
    order: 3;
    margin: auto;
}

.recent {
    display: flex;
    flex-flow: column;
    align-items: center;
}

.result {
    color: #CC0000;
    text-align: left;
}

.result.correct {
    color: #00AA00;
}

.result .question::before {
    content: '✘ ';
}

.result.correct .question::before {
    content: '✔ ';
}

.result .question::after {
    content: ' → ';
}

.result .expected::before {
    content: ' (';
}

.result .expected::after {
    content: ')';
}

.result.correct .expected {
    display: none;
}
